<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/png" href="/img/favicon.png">

  <title>Liel.la! - 私を叶える物語</title>

  <meta name="description" content="私を叶える物語" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@MITLicense" />
  <meta name="twitter:title" content="Liel.la!" />
  <meta name="twitter:description" content="私を叶える物語" />
  <meta name="twitter:image" content="https://liel.la/img/thumbnail.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/default.css" />
</head>
<body>
  <div class="content">
    <div>
      <main class="my-5">
        <h1 class="title">Liel.la!</h1>
        <hr>
        <h2 class="subtitle">
          私を<span class="subtitle-point">叶</span>える物語
        </h2>
      </main>
      <aside class="my-3 d-inline-flex gap-3">
        <a href="https://twitter.com/intent/tweet?url=https://liel.la/&text=Liel.la%21%20%E7%A7%81%E3%82%92%E5%8F%B6%E3%81%88%E3%82%8B%E7%89%A9%E8%AA%9E" class="btn btn-primary btn-twitter">
          <img class="btn-twitter-icon" src="./img/twitter.svg" />
          ツイート
        </a>
        <a href="https://lovelive-anime.jp/yuigaoka/" class="btn btn-outline-success">
          公式ウェブサイトへ
        </a>
      </aside>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <span class="text-muted">
            Powered by windyakin
            <a href="https://twitter.com/MITLicense">@MITLicense</a>
          </span>
        </div>
      </div>
  </footer>
</body>
</html>
